<!DOCTYPE html>

<head>
    <title>
        HOTPOST-API
    </title>
</head>

<body>
    <li><%= article.length %></li>
    <% for(var i=0; i<article.length; i++) {%>
    <li><%= article[i].title %></li>
    <% } %>
</body>

</html>